body {
    font-family: sans-serif;
    line-height: 1.6;
    margin: 20px;
}

h1, h2, h3 {
    padding-bottom: 10px;
}

h2 {
    border-bottom: 2px solid #eee;
}

#form-container {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 30px;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-group input[type="text"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.checkbox-item {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.checkbox-item label {
    margin-right: 15px;
    width: 150px; /* Viac miesta pre dlhšie názvy */
}

.checkbox-item input[type="number"] {
    width: 60px;
    margin-left: 5px;
}

.hidden {
    display: none !important;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}

button:hover {
    background-color: #0056b3;
}

#print-btn {
    background-color: #28a745;
}

#print-btn:hover {
    background-color: #218838;
}

#summary-section {
    margin-top: 30px;
}

.summary-box {
    padding: 15px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    margin-bottom: 15px;
    border-radius: 5px;
}

.summary-box h4 {
    margin-top: 0;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

ul {
    padding-left: 20px;
}

#total-summary {
    padding: 15px;
    background-color: #e9f5ff;
    border: 1px solid #007BFF;
    border-radius: 5px;
    margin-top: 20px;
}


/* Štýly pre tlač */
@media print {
    body {
        margin: 20px;
        font-size: 12pt;
    }
    #form-container, #print-btn, h1, #dropdown-container, h2:not(#summary-section h2), hr {
        display: none;
    }
    #summary-section {
        display: block !important;
        margin-top: 0;
    }
    .summary-box {
        border: 1px solid #ccc;
        page-break-inside: avoid; /* Zabráni rozdeleniu krabice na dve strany */
    }
}
